@{
    
}

<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>kazinoupのお気に入り映画リスト</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="movies.css" />
  </head>
  <body>
    <header>
      <h1 class="Title">A list of my Favorite Movies</h1>
    </header>
    <div id="movielist">
      <ol>
        <li><a href="#">It's a wonderful life</a></li>
        <li><a href="#">Lord of the Rings</a></li>
        <li><a href="#">The Fourth World</a></li>
        <li><a href="#">The Lion King</a></li>
      </ol>
    </div>
    <footer>
      This site was built using, Microsoft WebMatrix3 ix.
      <a href="http://web.ms/webmatrix">Download it now.</a>
    </footer>
  </body>
</html>
